.game {
	display: none;
	align-items: center;
	justify-content: space-between;

	@include mq(small) {
		position: relative;
	}
}

.player,
.computer {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include mq(small) {
		flex-direction: column-reverse;
		flex-basis: 10rem;
	}

	&__text {
		color: var(--clr-neutral-100);
		text-transform: uppercase;
		font-size: 1.25rem;
		margin-bottom: 3em;
		letter-spacing: 1.5px;

		@include mq(small) {
			margin-top: 2.5em;
			font-size: 0.9rem;
		}
	}
}

.status {
	text-align: center;
	opacity: 0;
	transition: opacity var(--transition-duration) ease-in-out;

	@include mq(small) {
		position: absolute;
		top: 250px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__text {
		text-transform: uppercase;
		font-size: 2.15rem;
		color: var(--clr-neutral-100);
		margin-bottom: 0.25em;
	}

	&__btn {
		cursor: pointer;
		background-color: var(--clr-neutral-100);
		padding: 0.75em 3em;
		border: 0;
		outline: 0;
		border-radius: 0.5em;
		text-transform: uppercase;
		color: var(--clr-primary-100);
		font-size: 0.9rem;
		letter-spacing: 1.5px;
		transition: transform var(--transition-duration) ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}
}

.circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.452);

	@include mq(small) {
		width: 100px;
		height: 100px;
	}
}

.choice.winner::before {
	box-shadow: 0 0 0 70px rgba(255, 255, 255, 0.02),
		0 0 0 40px rgba(255, 255, 255, 0.07), 0 0 0 15px rgba(255, 255, 255, 0.05);
}

@keyframes grow {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
