body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background-image: radial-gradient(
		at top,
		var(--clr-gradient-bg-1),
		var(--clr-gradient-bg-2)
	);
	font-family: var(--ff-main);
	padding: 2em 0;
}

.container {
	max-width: 45rem;
	padding: 0 1em;
	margin: 0 auto;
}
